fastapi

# Dependencies from fastapi
uvicorn
uvloop
websockets
httptools

# Possible other requirements taken from https://github.com/windson/fastapi/blob/fastapi-postgresql-azure-deploy/main.py
asyncpg
click
gunicorn
h11
psycopg2-binary
starlette
